@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700,900&display=swap&subset=cyrillic');

html,
body {
  font-family: 'Nunito', sans-serif;
}

.Header__content {
  font-family: 'Nunito', sans-serif;
  font-weight: 600 !important;
  font-size: 1.4em !important;
}

.gray {
  background: #f7f6f9;
}